<h1 style="text-align: center;">{{ titulo }}</h1>
<form action="">
  <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
  <br>
  <input type="text" [(ngModel)]="apellido" name="apellido" placeholder="Apellido">
  <br>
  <input type="text" [(ngModel)]="cargo" name="cargo" placeholder="Cargo">
  <br>
  <input type="submit" value="Registar" (click)="registrarUsuario()">
</form>

<br>
<!-- Ejemplo ngStyle-->
<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de ' {{nombre}} ' y el apellido ' {{apellido}} ' 
  y el cargo de <span [ngStyle]="{color: cargo=='director'?'red':'black'}">{{cargo }} </span></p>
<!-- Ejemplo ngClass-->
<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de ' {{nombre}} ' y el apellido ' {{apellido}} ' 
  y el cargo de <span [ngClass]="{paraDirectores: cargo=='director'}">{{cargo }} </span></p>
<ng-template #sinRegistrar>
  <p>No hay nadie REGISTRADO</p>
</ng-template>
<br>
<br>
<ul>

  <li *ngFor="let entrada of entradas; let i=index;"><span style="font-size: larger; font-weight: bold;">{{entrada.nombre}} {{entrada.apellido}}</span> Usuario {{i + 1}} </li>
</ul>